<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title class="ion-text-left">
      <ion-icon name="home-outline" (click)="return()"></ion-icon> 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h2>Level 1</h2>
  <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
  <h2>Level 2</h2>
  <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
  <h2>Level 3</h2>
  <ion-progress-bar color="primary" value="0.5"></ion-progress-bar>

</ion-content>
