.child-item{
    --ion-item-background: #f3f2f1;
    --padding-start:8px;
    --inner-padding-end:8px;
    margin-bottom:2px;
}
#newsframe {
    //set the height to 100% of the viewport less the height of the header
    height: calc(70vh - 60px);
  
    //set the width to 100% of the viewport width
    width: 100vw; 
  
    //remove border, padding, margin
    border: none;
    padding: 0;
    margin: 0;
  }